<template>
<div>
    <form @submit.prevent="submitForm">
    <div class="form-group row">
            <div class="col-sm-2">
            <label for="questionnaire" class="row float-right col-form-label ">Questionnaire:</label>
        </div>
            <div class="col-sm-8">
            <input type="text" class="form-control" v-model="questionnaire.name" placeholder="Name" name="questionnaire" required>
            </div>
            <div class="col-sm-2">
                <button type="button" style="height: 35px;" @click="addNewQuestion"  class="btn btn-outline-success"> <i class="fas fa-plus"></i> </button>

            </div>
        </div>
        <hr>

        <div class="question-row"  v-for="(question , index) in questions" :key="index">
            <div class="form-group row"> 
                <div class="col-sm-3"><label for="question" class="row float-right col-form-label ">Question {{index + 1}}:</label></div>
                <div class="col-sm-6">

                    <input v-model="question.question" type="text" class="form-control" placeholder="Question" required>
                </div> 
                    
                <div class="col-sm-2"> 
                    <button type="button" style="height: 35px;" @click="removeQuestion(index)" class="btn btn-outline-danger"> <i class="fas fa-minus"></i> 
                    </button> 
                </div> 
            </div>

            <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="inputEmail1" class="row float-right col-form-label ">Type:</label>
                    </div>
                    <div class="col-sm-6">
                        <select @change="removeAllChoices(index)"  v-model="question.type" required class="form-control question_type" >
                            <option value="text">Text</option>
                            <option value="checkbox">CheckBoxes</option>
                            <option value="radiobutton" >RadioButtons</option>
                        </select>
                    </div>
                    
                    <div class="col-sm-2">
                        <button type="button"  v-if="question.type =='checkbox' || question.type =='radiobutton'" style="height: 35px;" @click="addChoice(index)" class="btn btn-outline-success"> <i class="fas fa-plus"></i> </button>
                    </div>
                    
                </div>
                <div >
                <div class="form-group row choice" v-for="(choice , sub_index) in question.choices" :key="sub_index" >
                    <div class="col-sm-4"> 
                        <label class="row float-right col-form-label ">Choice :</label> 
                    </div> 
                    <div class="col-sm-4"> 
                        <input type="text" v-model="question.choices[sub_index].name" class="form-control choice" placeholder="Choice" required>  </div>  
                        <div class="col-sm-2"> 
                            <button @click="remvoeChoice(index, sub_index)"  type="button" style="height: 35px;" class="btn btn-outline-danger"> <i class="fas fa-minus"></i> </button> 
                        </div> 
                    </div>
            </div>
            <hr>
        </div>

        <button type="submit" class="btn btn-sm btn-primary float-right">Save</button>
</form> 

  </div>
</template>

<script>
export default {

    props:['current_questions' , 'current_questionnaire' , 'coach'],
    data(){
        return {
            questionnaire:{
                id:null,
                name:'',
            },
            questions:[],
        }
    },
    methods:{
        addNewQuestion(){
            let question = {
                id: null,
                question: '',
                type: 'text',
                choices: [],
            }

            this.questions.push(question);
        },
        removeQuestion(index){
            this.questions.splice(index, 1);
        },
        addChoice(index){
            this.questions[index].choices.push({
                name: ''
            });
        },
        remvoeChoice(index , sub_index){
            this.questions[index].choices.splice(sub_index , 1);
        },
        removeAllChoices(index){
            if(this.questions[index].type == 'text'){
                this.questions[index].choices = [];
            }
        },
        submitForm(){
            axios.post('/api/client-questionnaires-update' , {
                questionnaire :  this.questionnaire,
                questions: this.questions,
                coach_id: this.coach.id,
            }).then ( res => {
                console.log(res)
                window.location = '/coach/client-questionnaires';
                toastr.success('Questionnaire updated.')
            }).catch( err => {
                toastr.error('Questionnaire update failed')
            });
            // console.log('Submit')
        }
    },
    created(){
        console.log('Question')
        // console.log(this.current_qustions  ,  this.current_questionnaire)
        if(this.current_questionnaire){
            this.questionnaire = this.current_questionnaire;
            this.questions = this.current_questionnaire.questions;
        }
    }
}
</script>

<style>

</style>