<template> 
    <div class="loader">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</template>

<script>
    export default {
        data() {
            return {
               
            }
        },
    }
</script>

<style lang="sass" scoped>
    .loader    
        z-index: 301
        display: flex
        justify-content: center
        align-items: center
        font-size: 23px
        color: inherit
        position: absolute
        right: 9px
        top: 7px
        color: #ffffff
</style>