<template>
  <div class="row mt-4">
    <div class="col-6 title">
        <h4>{{this.title}}</h4>
    </div>
    <div class="col-6">
    <div class="float-right w-100">

        <div class="input-group mb-2 mr-sm-2 mt-2">
        <input type="text" class="form-control" v-model="query" placeholder="Search Workouts.... ">
        <div class="referesh-data" v-if="show_refresh_button" >
            <a href="javascript:;" title="Get Current Workouts" @click="getCurrentWorkouts" >
                <i class="fas fa-history"></i>
            </a>
        </div>

        <!-- <input type="text" id="myInput" class="form-control" v-model="query" placeholder="Search Workouts.... "> -->
            <component-loader v-show="loading"></component-loader>
            <div class="input-group-prepend">
            <div :class="{loading:loading}" :disabled="loading" class="input-group-text search-button" @click="searchExercises" >
                <i v-show="!loading" class="fas fa-search-plus"></i>
            </div>
            </div>
        </div>

    </div>
    </div>
</div>
</template>




<script>
export default {

    // props:['initial_query' , 'title' ,'showRefreshButton'],
    props:{
        initial_query:{
            type: String,
            default: '',
        },  
        title:{
            type: String,
            default: '',
        },
        show_refresh_button:{
            type: Boolean,
            default: false,
        }  
    },
    // ['initial_query' , 'title' ,'showRefreshButton'],
    data(){
        return{
            query: this.initial_query ?? '' ,
            workouts:[],
            loading:false
        }
    },

    methods:{

        getCurrentWorkouts(){
            this.query = '';
            this.$emit('get-current-workouts')

        },
        searchExercises(){
            if(this.query){
                this.$emit('searching-workouts')
                this.loading = true;
            axios.get('/search-exercises/'+this.query)
            .then(res => {
                console.log(res)
                this.workouts = res.data.exercises;
                this.loading = false;

                this.$emit('fetch-result' , this.workouts )
            })
            .catch(err => {
                this.loading = false;
                this.$emit('response-error' , err.response.data )
                console.log(err)
            })
            }else{

            }
        }
    }
}
</script>

<style>
    .search-button {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        background-color: #17a2b8 !important;
        color: #f1f1f1 !important;
        cursor: pointer;
        width: 40px;
    }

    .loading{
        background-color: #127d8e;
    }

    .title{
        display: flex;
        align-items: center;
    }

    .referesh-data{
        position: absolute;
        right: 12%;
        top: 30%;
        font-size: 17px;
    }
</style>