<template>
<div>

  <table class="table">
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Assign To</th>
              <th>Create Date</th>
              <th>Actions</th>
          </tr>
          <tr v-for="(questionnaire , index) in questionnaires" :key="questionnaire.id" >
              <td> {{index+1}} </td>
              <td> {{questionnaire.name}} </td>
              <td>
                  <a class="btn btn-sm btn-success"  :href="'/coach/client-questionnaires/'+ questionnaire.id +'/assigned-clients'"> View ({{questionnaire.users.length }}) </a>
                  <a class="btn btn-sm btn-primary" @click="openModal(questionnaire)" href="#" > <i class="fas fa-share-alt mr-2"></i> Share </a>
                </td>
              

              <td> {{questionnaire.created_date }} </td>
              <td>
                
                <a href="javascript:;" @click="AskBeforeDelete(questionnaire.id)" class="text-danger"  > <i class="fas fa-trash"></i> </a>

                <a :href="'/coach/client-questionnaires/'+ questionnaire.id +'/edit'" > <i class="fas fa-edit"></i> </a>

                <a :href="'/coach/client-questionnaires/'+ questionnaire.id"  class="btn btn-sm btn-primary" > <i class="fas fa-eye"></i> View</a>


              </td>
          </tr>
      </table>


    <div class="loading-bg" v-if="loading" >
      <spinner class="base-loading" ></spinner>

    </div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle" v-if="openedQuestionnaire">{{openedQuestionnaire.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- <div v-if="loading"  class="loading-background">
            <spinner class="modal-loading" ></spinner>
        </div> -->

        <table class="table">
            <tr>
                <td>Name</td>
                <td>Photo</td>
                <td>Action</td>
            </tr>
            <tr  v-for="client in notAssginedUsers" :key="client.id">
                <td>{{client.name}}</td>
                <td>
                    <img v-if="client.photo" :src="'/images/profile_images/'+client.photo" />
                    <img v-if="!client.photo" src="/img/no-image-found.jpg" />
                </td>
                <td>
                    <a :class="{'loading-btn': sharingUser == client }" class="position-relative btn btn-success btn-sm" href="#" @click="shareQuestionnaire(client)" > 

                        <spinner class="loading-btn-loader" v-if="sharingUser == client" ></spinner>
                        <span v-else >
                            <i class="fas fa-envelope"></i> Send
                        </span>
                        </a>
                </td>
            </tr>
        </table>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>



</div>
</template>

<style scoped>

.loading-background{
    top: 0;
    right: 0;
    left: 0;
    bottom: 100vh;
    background-color: #ffffffad;
    width: 100%;
    height: 100%;
    position: absolute;
    }

.loading-bg{
    top: 0;
    right: 0;
    left: 0;
    bottom: 100vh;
    background-color: #ffffffad;
    width: 100%;
    height: 100%;
    position: absolute;
    }
    .base-loading{
        left: 50%;
        right: unset;
        top: 50%;   
    }
    .modal-loading{
        top: 40vh;
        left: 25%;
    }
    .loading-btn-loader{
        top: 5px;
        left: 30%;
        font-size: 15px;
    }

    .loading-btn{
        width: 62px;
        height: 28px;
    }
 .clients-dropdown{
     max-height: 300px; 
     overflow: auto;

 }

 .dropdown-item{
    padding: 0 10px !important;

 }
 .inner-container{
    padding: 10px 8px;
    border-bottom: 1px solid #dddddd;
 }

 .modal-body img{
     width: 40px;
    height: auto;
    border-radius: 200px;
    margin-right: 10px;
 }
 .modal-body td {
    vertical-align: middle;
}
</style>

<script>
export default {
    props:['current_questionnaires' , 'clients'],
    data(){
        return{
            questionnaires: [],
            openedQuestionnaire : {},
            sharingUser: {},
            loading: false,
            notAssginedUsers:[],

        }
    },
    created(){
        this.getQuestionnaires();
        // this.questionnaires = this.current_questionnaires

    },
    methods:{
        getQuestionnaires(){
            this.loading = true;
            axios('/coach/get-questionnaires').then( res => {
                console.log(res.data.questionnaires)

                this.questionnaires = res.data.questionnaires
                this.loading = false;

            }).catch(err => {
                console.log(err)
                this.loading = false;
            })
        },
        AskBeforeDelete(id){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                if (result.value) {
                    console.log(result.value)
                    window.location = '/coach/client-questionnaires-delete/'+ id
                }
              })
        },
        openModal(questionnaire){
            this.openedQuestionnaire = questionnaire;
            this.notAssginedUsers = this.openedQuestionnaire.not_assigned_users
            $('#exampleModalCenter').modal('show');
        },
        shareQuestionnaire( client){

            this.sharingUser = client;
            this.loading = true;

            axios.post('/coach/send-questionnaires-client' , {
                client_id: client.id,
                questionnaire_id: this.openedQuestionnaire.id,
            }).then( res => {
                this.sharingUser = {};
                this.loading = false;
                toastr.success('Questionnaire sent to client.')
                this.getQuestionnaires();
                this.removeClientFromTable(client);


                console.log(res)
            }).catch( err => {
                console.log(err)
                this.sharingUser = {};
                this.loading = false;
                // toastr.error('Questionnaire sending failed')
                toastr.error(err.response.data.message)


            })
            
        },
        removeClientFromTable(client){
            this.notAssginedUsers.splice( this.notAssginedUsers.indexOf(client)  , 1 )
        }

    }
}
</script>

<style>

</style>