<template>
    <div class="col-12 col-sm-12 col-lg-12 bg-white" style="padding:30px" >

        <div class="top-buttons">
            <a v-if="plan && plan.start_date" href="javascript:;" class="btn btn-outline-success  btn-sm mr-2 mb-2" > <i class="fas fa-calendar"></i> Start Plan Date: {{plan.start_date}} </a>
            
            <a v-if="plan && !plan.start_date" :href="'/coach/manage-client/'+ plan.client_id +'/package/'+ plan.package_id  +'/start-plan'" class="btn btn-outline-success btn-sm  mr-2 mb-2" > <i class="fas fa-play-circle"></i> Start Plan Now</a>

            <!-- <a v-if="currentDay" href="javascript:;" class="text-success main-action-buttons"><i class="fas fa-edit" @click="openEditModal"></i></a> -->
            
            <!-- <a v-if="!currentDay" href="javascript:;" class="main-action-buttons" ><i class="fas fa-plus-circle" @click="openNewModal" ></i></a> -->
            

            <a @click="refreshData" href="javascript:;" class="text-danger ml-2 main-action-buttons" > <i class="fas fa-history "></i> </a>
            

        </div>
        <div class="card card-info card-tabs pb-5 mt-5">
            <div class="card-header p-0 pt-1">
            <ul v-if="total_weeks" class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <template  v-for="(week , index) in total_weeks">
                <li class="nav-item" style="width: 15%" :key="index"> 
                <a class="nav-link" :class="{active : index == 0}" :id="'week-tab-'+ index +'-tab'" data-toggle="pill" :href="'#week-tab-'+index" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true" @click="handleActiveWeek(week)" >Week {{index + 1}} </a>
                </li>
            </template>
            </ul>
        </div>

        <div class="row ">
        <div class="col-5 col-sm-3">

        <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">

        <a v-for="(day , sub_index) in activeWeek" :class="{active : sub_index == 0}" :key="sub_index" class="nav-link"  data-toggle="pill" :href="'#day-tab-'+sub_index+'-'+sub_index" role="tab" aria-selected="true" @click="handleActiveDay(day)"  > 
            <span v-if="plan.start_status == 1"> {{day.day + ' ' + day.date}} </span>
            <span v-if="plan.start_status == 0"> Day {{day}} </span>
            
        <!-- {{$day_prefix}} {{ $plan->start_status == 1 ? $day['day']. ',' : null }} {{$day['date']}} -->
            </a>
        </div>
        </div>


        <div class="col-7 col-sm-9 mt-4">
            <div v-if="currentDay" >
            <!-- workouts -->
            <plan-workouts 
                :all_workouts="local_workouts"
                :current_workouts="currentDay.workouts"
                :plan="plan"
                :day_number="activeDay.day_number"
                :exrx_workout_ids="currentDay.exrx_workout_ids"
                :day_id="currentDay.id"
                @update-data="refreshData"
            ></plan-workouts>



            <plan-measurements 
                :measurements="activeDay.measurements"
            ></plan-measurements>   
            <hr>
            <plan-meals 
                :current_meals="currentDay.meals"
                :all_meals="currentDay.all_meals"
                :day_number="activeDay.day_number"
                :plan="plan"
                @update-data="refreshData"
                :day_id="currentDay.id"
            ></plan-meals>
        <hr>
            <plan-supplements 
                :day_number="activeDay.day_number"
                :plan="plan"
                :supplements="supplements"
                :current_supplements="currentDay.supplements"
                :current_supplement_times="currentDay.supplement_times"
                @update-data="refreshData"
                :day_id="currentDay.id"
            ></plan-supplements>


            </div>



        <div v-if="!currentDay" class="text-center mr-5">
            <div class="alert noday-alert"> The Day is Not created Yet </div>
            <a class="btn mt-2 green-button" href="javascript:;" @click="createDay" >Create Now</a>
        </div>

        </div>

    </div>







 



    </div>
    </div>
</template>

<script>
export default {
    created(){
        // console.log(this.total_weeks[0])
        this.activeWeek = this.total_weeks[0]
        this.activeDay = this.total_weeks[0][0]
        this.fetchDayData();

    },
    data(){
        this.day = '';
        return{
            edit_mode : false,
            activeWeek : '',
            activeDay : '',
            currentDay : '',
            day_number :  this.plan && plan.start_status == 0 ?  this.activeDay : this.activeDay.day_number ,
            // day : '',


            // day data
            selected_workouts:[], 
            
            A : 'A'
        }
    },
    methods:{
        showInConsole(val){
            console.log(val)
        },
        handleActiveWeek(week){
            this.activeWeek = week;
            this.handleActiveDay(week[0]);
            
        },
        handleActiveDay(day){
            this.activeDay = day;
            this.fetchDayData();
        },
        fetchDayData(){
            // console.log(this.activeDay);

            this.$Progress.start();
            let loader = this.$loading.show();



            axios.get('/api/get/day-data/'+ this.day_number)
            // axios.get('/api/get/plan/'+ this.plan.id +'/day/'+ this.activeDay.date)
            .then( res => {
                loader.hide();
                this.$Progress.finish();
                this.currentDay = Object.assign( {} , res.data.day);
                this.day = Object.assign( {} , this.currentDay);
                this.selected_workouts = Object.assign( [] , res.data.day.workouts);

                // console.log(res.data ,'Success')

                // this.selected_workouts = res.data.day.workouts;
                // console.log(selected_workouts);
                // this.$toastr.success('Data Updated', '');

                // console.log(res)

            }).catch( err => {
                loader.hide();
                this.currentDay = ''
                this.$Progress.finish();
                // console.log(err)
                // console.log(err.response ,' FF')
                // this.$toastr.warning('Day Not Availabe', 'Info');

            })
        },
        createDay(){
            this.$Progress.start();
            let loader = this.$loading.show();

            axios.post('/api/create-day' , {
                    client_id :  this.plan.client_id,
                    package_id : this.plan.package_id,
                    coach_id :  this.plan.coach_id,
                    plan_id :  this.plan.id,
                    day_number :  this.day_number,
            }).then( res => {
                loader.hide();
                this.$Progress.finish();
                this.refreshData();

            }).catch( err => {
                
                loader.hide();
                this.$Progress.finish();
                this.refreshData();
            })
        },
        refreshData(){
            console.log('refreshData')
            this.fetchDayData();
        },
        openNewModal(){
            this.edit_mode = false;
            $('#day_data_modal').modal('show');

        },
        openEditModal(){
            this.edit_mode = false;
            $('#day_data_modal').modal('show');

        },

        
    },
    props:['total_weeks' , 'plan' , 'local_workouts' , 'supplements']

}
</script>

<style>
.workouts-button{
    position: absolute;
    right: 25px;
    top: 0;
}
.top-buttons{
    position: absolute;
    right: 25px;
    top: 40px;
}
.noday-alert{
    background-color: #17a2b8;
    color: white;
}
.green-button{
    background-color: #17a2b8;
    color: white;
}

</style>