<template>
  <div>

            <h4>Workouts</h4>

            <a href="javascript:;" class="text-primary workouts-button main-action-buttons"><i class="fas fa-edit" @click="editWorkouts"></i></a>
            <div v-if="current_workouts">
            <div class="row mt-3" v-for="(workout , index) in current_workouts" :key="index" >
                <div class="col-8">
                <div class="row">

                    <div class="col-3">
                        Name
                    </div>
                    
                    <div class="col-9">
                    <span v-if="typeof workout.Exercise_Id === 'string'">{{workout.workout.name}} </span>
                    <span v-else class="sp2"  >{{workout.workout.exercise.Exercise_Name}} </span>
                    
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-3">
                        Steps
                    </div>
                    
                    <div class="col-9">
                        {{workout.steps}}
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-3">
                        Reps
                    </div>
                    
                    <div class="col-9">
                        {{workout.reps}}
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-3">
                        Status
                    </div>
                    
                    <div class="col-9">
                    <span class="badge badge-success"  v-if="workout && workout.status && workout.status.is_completed == true" >
                        {{workout.status.completed_at }}
                    </span>
                    <div class="d-flex align-items-center " v-else>
                        <span class="badge badge-danger" >
                            In-Complete
                        </span>
                        <a class=" f-20 text-success ml-3" href="javascript:;" title="Mark as Complete" @click="completeExercise(workout.Exercise_Id)" > <span> <i class="fas fa-check-circle"></i> </span></a>
                    </div>
                    
                    
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-3">
                        <a target="_blank" v-if="!workout.workout.id" :href="workout.workout.exercise.URL">View <i class="ml-1 fas fa-eye"></i></a>
                    </div>
                    
                    <div class="col-9">
                    </div>
                </div>
                </div>

                <div class="col-4">
                <img v-if="typeof workout.Exercise_Id !== 'string'" class="exercise-gif-image" :src="workout.workout.exercise.GIF_Img" />
                <img v-if="workout.workout.id && workout.workout.media" class="exercise-gif-image" :src="'/workouts/images/'+workout.workout.media[0]" />
                </div>
                <div  v-if="!(index == (current_workouts.length - 1)) "  class="col-12">
                    <hr>
                </div>
            </div>
            </div>








              <div class="modal fade" id="day_workouts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">

            
            <h5 class="modal-title" id="exampleModalLongTitle">Add Workouts</h5>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="saveWorkouts">


          <div class="modal-body" id="bodyModal">


            <div class="card card-info card-tabs mb-0 p-0">
              <div class="card-header p-0 pt-1">
                  <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item text-center" style="width:50%;">
                      <a  class="nav-link active" id="custom-tabs-local-wokrouts-home-tab" data-toggle="pill" href="#custom-tabs-one-local-wokrouts" role="tab" aria-controls="custom-tabs-one-local-wokrouts" aria-selected="true">Local Workouts</a>
                    </li>
                    <li class="nav-item text-center" style="width:50%;">
                      <a class="nav-link" id="custom-tabs-one-exrx-workouts-tab" data-toggle="pill" href="#custom-tabs-one-exrx-workouts" role="tab" aria-controls="custom-tabs-one-exrx-workouts" aria-selected="false">EXRX Workouts</a>
                    </li>
                 
                  </ul>
                </div>     
                </div>


                <div class="workouts-area"  >

                <div class="tab-content" id="custom-tabs-one-tabContent">
                
                  <div class="tab-pane fade show active" id="custom-tabs-one-local-wokrouts" role="tabpanel" aria-labelledby="custom-tabs-one-local-wokrouts-tab">


                    <ul id="myUL" v-if="all_workouts" >
          
                      <li class="form-group row" v-for="(workout,index) in all_workouts" :key="index" >
                      <div class="col-3 " >
                        <img v-if="workout && workout.media" class="exercise-gif-image" :src="'/workouts/images/'+workout.media[0]" />
                      </div>
          
                        <div class="col-9"  >
                          
                          <div class="row">
                            <div class="col-6 mt-1">
                              <div class="d-flex mt-2">
          
                                <input @change="handleWorkout( $event , index , workout)" type="checkbox" :id="'workout'+workout.Exercise_Id" 
                                :value="workout.Exercise_Id"
                                :checked="isSelectedWorkout(workout)"
                                 />
                                <label class="workout-label" :for="'workout'+workout.Exercise_Id" >{{ workout.name }}</label> <a :title="'View '+ workout.name +' Details'" href="#" target="_blank" ><i class="fas fa-eye"></i> </a>
                                <br>
                              </div>
                              
          
                            </div> 
          
                            <div class="col-3">
                              <input type="text" v-if="isSelectedWorkout(workout)" required class="form-control" v-model="selected_workouts[getSelectedWorkoutIndex(workout)].steps" placeholder="Steps" />
                          </div>
          
                            <div class="col-3">
                              <input type="text"  v-if="isSelectedWorkout(workout)" required class="form-control"  v-model="selected_workouts[getSelectedWorkoutIndex(workout)].reps" placeholder="Repititions" />
          

                          </div>
                          </div>
                          
                        </div>
                        
                      </li>
                    </ul>


                  </div>
                  
                  <div class="tab-pane fade" id="custom-tabs-one-exrx-workouts" role="tabpanel" aria-labelledby="custom-tabs-one-exrx-workouts-tab">

                      <exercise-search
                        :title="searched_workouts ? 'Searched Results' : 'Current Workouts'"
                        @fetch-result="getWorkouts"
                        @searching-workouts="searchingWorkouts"
                        @workouts-update="workoutsUpdated"
                        @response-error="apiError"
                        @get-current-workouts="getCurrentWorkouts"
                        :initial_query="workouts_initial_query"
                        :show_refresh_button="searched_workouts"
                      ></exercise-search>

                    <ul id="myUL" v-if="exrx_workouts" >
          
                      <li class="form-group row" v-for="(workout,index) in exrx_workouts" :key="index" >
                      <div class="col-3 " >
                        <img class="exercise-gif-image" :src="workout.GIF_Img" />
                      </div>
          
                        <div class="col-9"  >
                          
                          <div class="row">
                            <div class="col-6 mt-1">
                              <div class="d-flex mt-2">
          
                                <input @change="handleWorkout( $event , index , workout)" type="checkbox" :id="'workout'+workout.Exercise_Id" 
                                :value="workout.Exercise_Id"
                                :checked="isSelectedWorkout(workout)"
                                 />
                                <label class="workout-label" :for="'workout'+workout.Exercise_Id" >{{ workout.Exercise_Name }}</label> <a :title="'View '+ workout.Exercise_Name +' Details'" :href="workout.URL" target="_blank" ><i class="fas fa-eye"></i> </a>
                                <br>
                              </div>
                              
          
                            </div> 
          
                            <div class="col-3">
                              <input type="text" v-if="isSelectedWorkout(workout)" required class="form-control" v-model="selected_workouts[getSelectedWorkoutIndex(workout)].steps" placeholder="Steps" />
                          </div>
          
                            <div class="col-3">
                              <input type="text"  v-if="isSelectedWorkout(workout)" required class="form-control"  v-model="selected_workouts[getSelectedWorkoutIndex(workout)].reps" placeholder="Repititions" />
          

                          </div>
                          </div>
                          
                        </div>
                        
                      </li>
                    </ul>
                        <div v-if="fetching_workouts" class="loading-for-workouts">
                          <spinner></spinner>
                          <span>Fetching Current Workouts ... </span>
                        </div>
          
                        <div v-if="workout_error" class="alert alert-danger">
                          {{workout_error}}
                        </div>
          
                        <div v-if="!fetching_workouts && !workout_error && exrx_workouts && exrx_workouts.length == 0" class="alert alert-info">
                          No Exercises
                        </div>




                  </div>
                  
                  </div>
                </div>

                <hr>
        
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
        
          </div>
        </form>
        </div>
      </div>
    </div>




        </div>
</template>

<script>
export default {
 
    data(){
        return{
            selected_workouts: this.current_workouts ? Object.assign( [] ,this.current_workouts) : [] ,
            workout_error: '',
            fetching_workouts : false,
            searched_workouts: false,
            workouts_initial_query: '',
            exrx_workouts: [],
        }
    },
    methods:{
        showInConsole(val){
            if(val.workout.exercise){
                console.log(val.workout.exercise.Exercise_Name , 'console support')
            }
            
        },
        editWorkouts(){
            this.selected_workouts = Object.assign( [] , this.current_workouts)
            this.getCurrentWorkouts();
            $('#day_workouts').modal('show');
        
        },
        isSelectedWorkout(workout){
            // console.log(this.selected_workouts.indexOf(workout));
            let status = false;
            this.selected_workouts.map( (current_workout , index) => {
                // console.log(current_workout , workout)
                if(workout.Exercise_Id == current_workout.Exercise_Id ){
                    // console.log(workout.Exercise_Id == current_workout.Exercise_Id)
                    status = true;
                }
            });
            return status
        },
        getSelectedWorkoutIndex(workout){
            // console.log(this.selected_workouts.indexOf(workout));
            let status = 0;
            this.selected_workouts.map( (current_workout , index) => {
                // console.log(current_workout , workout)
                if(workout.Exercise_Id == current_workout.Exercise_Id ){
                    // console.log(workout.Exercise_Id == current_workout.Exercise_Id)
                    status = index;
                }
            });
            return status
        },
        handleWorkout(event , index, workout ){
        
            // console.log(event , index, workout)
        if(event.target.checked){
            let new_workout = {
                Exercise_Id: workout.Exercise_Id,
                steps: "",
                reps: "",
                status: false,
            }

            this.selected_workouts.push(new_workout);
            }else{
                this.selected_workouts.splice(this.getSelectedWorkoutIndex(workout) , 1 );
        }

      },
      saveWorkouts(){
        this.$Progress.start();
        let loader = this.$loading.show();

        axios.post('/api/save-workouts' , {
            client_id :  this.plan.client_id,
            package_id : this.plan.package_id,
            coach_id :  this.plan.coach_id,
            plan_id :  this.plan.id,
            day_number :  this.day_number,
            workouts : this.selected_workouts,

          }).then( res => {

            loader.hide();
            this.$Progress.finish();
            this.$emit('update-data');
            $('#day_workouts').modal('hide');
            this.$toastr.success('Data Updated Successfully' , 'Success');

          }).catch(err => {
              
              loader.hide();
            this.$Progress.finish();
            this.$emit('update-data');
            $('#day_workouts').modal('hide');
            this.$toastr.error('Request Failed', 'Failed');

          });
      },
        completeExercise(exercise_id ){

        //console.log(this.day_id , exercise_id)
        
        axios.get('/api/complete-exercise/' + exercise_id +'/day/'+ this.day_id )
        .then( res => {

          //console.log(res)
        this.$emit('update-data');
        //   this.refresh_data();

        }).catch( error => {
          console.log(error)
        })

      },



    //   EXRX Mthods

        getWorkouts($workouts){
            console.log($workouts)
            this.fetching_workouts = false
            this.searched_workouts = true
            this.exrx_workouts = $workouts
            this.workout_error = ''
        },
        getCurrentWorkouts(){
            this.exrx_workouts = [];
            this.getSelectedWorkouts(this.exrx_workout_ids);
        },
        getSelectedWorkouts(ids){
            // console.log(ids , 'getSelectedWorkouts')
            if(ids && ids.length > 0){

            this.fetching_workouts = true;
            let workouts = []
            axios.get('/find-exercises/'+JSON.stringify(ids))
            .then( res => {
                //console.log(res);
                this.workout_error = '';
                
                this.fetching_workouts = false
                this.searched_workouts = false
                this.exrx_workouts = res.data.exercises
            })
            .catch( err => {
                this.fetching_workouts = false
                this.searched_workouts = false
                this.workout_error = err.response.data.error
                //console.log(err.response.data.error)
            });
            //console.log(workouts);
            return workouts;
            }
        },
      searchingWorkouts(){
        this.workout_error = '';

        this.fetching_workouts = true;
        this.exrx_workouts = [];
        this.workout_error = ''

      },

      workoutsUpdated($workouts){
        this.workout_error = '';
        this.fetching_workouts = false;
        this.searched_workouts = true;
        this.exrx_workouts = $workouts;
      },

      apiError($error){
        this.fetching_workouts = false;
        console.log($error);
        if($error.error.length > 0){
          this.workout_error = $error.error[0];
        }else{
          this.workout_error = 'Unable to process this request';

        }
        
        this.exrx_workouts = [];
      },




    },
    props:['all_workouts' , 'current_workouts' , 'plan' , 'day_number' , 'exrx_workout_ids' , 'day_id'],
       created(){
        // console.log('created')
        // console.log(this.current_workouts)
        this.getCurrentWorkouts();
    },
    watch:{
        // exrx_workout_ids(){
        //     this.getCurrentWorkouts();
        // }
    }

}
</script>

<style>

</style>