<template>
  <div class="position-relative">

            <h4>Meals</h4>
            <a href="javascript:;" class="text-primary workouts-button main-action-buttons"><i class="fas fa-edit" @click="editMeals"></i></a>

            <div v-if="current_meals">

                <div class="row mt-3" v-for="(meal , index) in current_meals" :key="index" >
                <div class="col-8">

                <div class="row">
                  
                    
                    <div class="col-12">
                        <img v-if="meal.image" :src="meal.image" class="profile-image " />

                        <img v-else src="/img/no-image-found.jpg" class="profile-image" />

                    
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-3">
                        Title
                    </div>
                    
                    <div class="col-9">
                    <span class="sp2"  >{{meal.title}} </span>
                    
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-3">
                        Summary
                    </div>
                    
                    <div class="col-9">
                        {{meal.summary}}
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-3">
                        Needs 
                    </div>
                    
                    <div class="col-9">
                        {{meal.needs}}
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-3">
                        How to
                    </div>
                    
                    <div class="col-9">
                        {{meal.how_to}}
                    </div>
                </div>
                
                
                
                
                </div>

                <div  v-if="!(index == (current_meals.length - 1))"  class="col-12">
                    <hr>
                </div>
            </div>
            </div>








      <div class="modal fade" id="day_meals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">

            
            <h5 class="modal-title" id="exampleModalLongTitle">Add Workouts</h5>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="saveMeals">


          <div class="modal-body" id="bodyModal">

              <h2>Modal Body</h2>

            <div class="row">

                <div class="col-3" >
                <label class="col-form-label">Meals</label>
                </div>
                
                <div class="col-9" >
                    <!-- v-model="selected_meals_current" -->
                <v-select
                    placeholder="Select Meals"
                    multiple
                    label="meals_array"
                    :options="meals_array"
                    v-model="all_meals"
                    @input="handleSelectMeal"
                />
                </div>
            </div>
            <hr>



            <div id="meal-collapse" class="meal-collapse">
            <div class="row" v-for="(meal,index) in selected_meals" :key="index" >
              <div class="col-3"></div>
              <div class="col-9">


              <a class="btn btn-outline-primary w-100 m-1" data-toggle="collapse" :href="'#meal_details'+index" role="button" aria-expanded="false" aria-controls="collapseExample"  >
                {{meal.meal}}
              </a> 

              <div class="collapse" :id="'meal_details'+index" data-parent="#meal-collapse">
                <div class="card card-body">
                  <div class="form-group">


                    <img :id="'image'+index" v-if="meal.image" :src="meal.image" :class="'profile-image meal-profile-image-'+index" />
                    <!-- <img :id="'image'+index" v-if="meal.image" :src="'/images/plan_images/'+ meal.image" :class="'profile-image meal-profile-image-'+index" /> -->

                    <img :id="'image'+index" v-if="!meal.image" src="/img/no-image-found.jpg" class="profile-image" />
        
                    <button type="button" class="btn btn-outline-success" @click="clickUploadIcon(index)"> <i class="fas fa-image"></i> Upload Image </button>
                    
                    <input :id="'file-upload-'+index" type="file" @change="updateMealImage($event  , index)"  class="file-upload" name="image" style="display:none" >
        
                  </div>
                  <div class="form-group">

                    <label class="lable-class">Title:</label>

                    <input type="text" class="form-control" v-model="meal.title" placeholder="Title" required />
                  </div>

                  <div class="form-group">
                    <label class="lable-class">Summary:</label>
                    <textarea class="form-control" rows="4" v-model="meal.summary" placeholder="Summary" required ></textarea>
                  </div>
                  
                  <div class="form-group">
                    <label class="lable-class">What you will need:</label>
                    <wysiwyg v-model="meal.needs"/>

                  </div>
  
                  <div class="form-group">
                    <label class="lable-class">How to do it:</label>
                    <wysiwyg v-model="meal.how_to"/>

                  </div>

  
                </div>
              </div>
              

            </div>
          </div>
        </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
        
          </div>
        </form>
        </div>
      </div>
    </div>




        </div>
</template>

<script>
export default {
 
    data(){
        return{
            selected_meals: this.current_meals ? Object.assign( {} ,this.current_meals) : [] ,
            meals_array : [
                'Breakfast',
                'Lunch',
                'Dinner',
                'Snacks1',
                'Snacks2',
                'Snacks3',
            ],

        }
    },
 
    methods:{
        showInConsole(val){
            if(val.workout.exercise){
                console.log(val.workout.exercise.Exercise_Name , 'console support')
            }
            
        },
        editMeals(){
            
            this.selected_meals = Object.assign( [] , this.current_meals)
            // console.log('edit workouts')
            $('#day_meals').modal('show');
        
        },
        isSelectedMeal(workout){
            // console.log(this.selected_meals.indexOf(workout));
            let status = false;
            this.selected_meals.map( (current_workout , index) => {
                // console.log(current_workout , workout)
                if(workout.Exercise_Id == current_workout.Exercise_Id ){
                    // console.log(workout.Exercise_Id == current_workout.Exercise_Id)
                    status = true;
                }
            });
            return status
        },
        getSelectedMealIndex(workout){
            // console.log(this.selected_meals.indexOf(workout));
            let status = 0;
            this.selected_meals.map( (current_workout , index) => {
                // console.log(current_workout , workout)
                if(workout.Exercise_Id == current_workout.Exercise_Id ){
                    // console.log(workout.Exercise_Id == current_workout.Exercise_Id)
                    status = index;
                }
            });
            return status
        },
        handleMeal(event , index, workout ){
        
            // console.log(event , index, workout)
        if(event.target.checked){
            let new_workout = {
                Exercise_Id: workout.Exercise_Id,
                steps: "",
                reps: "",
                status: false,
            }

            this.selected_meals.push(new_workout);
            }else{
                this.selected_meals.splice(this.getSelectedMealIndex(workout) , 1 );
        }

      },
      saveMeals(){
        this.$Progress.start();
        let loader = this.$loading.show();

        axios.post('/api/save-meals' , {
            client_id :  this.plan.client_id,
            package_id : this.plan.package_id,
            coach_id :  this.plan.coach_id,
            plan_id :  this.plan.id,
            day_number :  this.day_number,
            meals : this.selected_meals,

          }).then( res => {

            loader.hide();
            this.$Progress.finish();
            this.$emit('update-data');
            $('#day_meals').modal('hide');
            this.$toastr.success('Data Updated Successfully' , 'Success');

          }).catch(err => {
              
              loader.hide();
            this.$Progress.finish();
            this.$emit('update-data');
            $('#day_meals').modal('hide');
            this.$toastr.error('Request Failed', 'Failed');

          });
      },

    handleSelectMeal(value){
        console.log(value);

        let index = null;
        //console.log(value.length < this.selected_meals.length)
        if(value.length > this.selected_meals.length ){
            let meal = {
                meal:value[value.length-1],
                title: "",
                summary: "",
                needs: "",
                how_to: "",
                image: "",
            }

            this.selected_meals.push(meal);

        }else{
            let index = null;
            this.selected_meals.forEach( (selected_meal , i ) => {
                if(selected_meal.meal != value[i]){
                    // console.log(i)
                    index = i;
                }
            });

            if(index){
                this.selected_meals.splice(index , 1);
            }
            // console.log(this.selected_meals , this.all_meals)
            
            // this.selected_meals.splice(get) = value;
        } 
    },
    updateMealImage(e , index){

        let file = e.target.files[0];

        let reader = new FileReader();
        reader.onloadend = (file) => {
          this.selected_meals[index].image =  reader.result; 

        }

        reader.onload = function (e) {
          $('.meal-profile-image-'+index).attr('src', e.target.result);
      }
        reader.readAsDataURL(file);

      },

      clickUploadIcon(index){

        $('#file-upload-'+index).click();
      
      },





    },
    props:['current_meals' , 'plan' , 'day_number' , 'day_id' , 'all_meals'],
       created(){
    },
    watch:{
        // exrx_workout_ids(){
        //     this.getCurrentWorkouts();
        // }
    }

}
</script>

<style>
.profile-image{
  margin-bottom: 10px;
}
</style>