<template>

  <div class="position-relative mt-4">

    <h4>Supplements</h4>
    <a href="javascript:;" class="text-primary workouts-button main-action-buttons"><i class="fas fa-edit" @click="editSupplements"></i></a>

        <div v-if="current_supplements">
            <div class="row mt-3" v-for="(supp , index) in current_supplements" :key="index" >
                <div class="col-8">
                
                <div class="row">
                    <div class="col-3">
                        Time
                    </div>
                    
                    <div class="col-9">
                    <span class="sp2"  >{{supp.supplement_time}} </span>
                    
                    </div>
                </div>
                <div v-for="(supplement , sub_index) in supp.supplements" :key="sub_index">
                <div class="row">
                    <div class="col-3">
                        Supplements
                    </div>
                    
                    <div class="col-9">
                    <span class="sp2"  >{{supplement.supplement.name}} </span>
                    
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-3">
                        Supplements
                    </div>
                    
                    <div class="col-9">
                    <span class="sp2"  >{{supplement.dose}} </span>
                    
                    </div>
                </div>


                </div>
                
                </div>

                <div  v-if="!(index == (current_supplements.length - 1))"  class="col-12">
                    <hr>
                </div>
            </div>
        </div>


    <div class="modal fade" id="day_supplements" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">

            
            <h5 class="modal-title" id="exampleModalLongTitle">Add Supplements</h5>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="saveSupplements">


          <div class="modal-body" id="bodyModal">

              <div class="row">

            <div class="col-3" >
                <label class="col-form-label">Supplement Timing</label>
            </div>
            
            <div class="col-9" >
                <!-- :data-selected="current_supplement_times" -->
                <v-select
                placeholder="Select Supplement Timings"
                multiple
                :options="supplement_timing"
                :value="selected_supplement_timings"
                @input="handleSupplementTiming"
                />
                {{showInConsole(selected_supplement_timings)}}
            </div>
            </div>    

            <div v-for="(time , sub_index) in selected_supplements" :key="sub_index">
            <div class="row mt-4">
                <div class="col-3" >
                    <label class="col-form-label"> {{time.supplement_time}} Supplements</label>
                </div>
                
                <div class="col-9" >
                    <!-- v-model="selected_supplements[index].supplements" -->
                    <v-select
                    placeholder="Select Supplements"
                    multiple
                    :options="supplements"
                    label="name"
                    required
                    :value="getSupplementsFromArray(selected_supplements[sub_index].supplements)"
                    @input="handleSupplements($event , sub_index)"
                    />
                </div>
                </div>
         
                <div class="row mt-2"  v-for="(supplement , supplements_index) in selected_supplements[sub_index].supplements" :key="supplements_index">
                    <div class="col-3" >
                    </div>
                    
                    <div class="col-9" >
                        <input type="text" :placeholder="supplement.supplement.name" v-model="supplement.dose" class="form-control" required />
                    </div>
                </div>
            </div>
            


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
        
          </div>
        </form>
        </div>
      </div>
    </div>





</div>
</template>

<script>
export default {
    props:['plan' , 'day_number' , 'day_id' , 'supplements' , 'current_supplements' , 'current_supplement_times'],
    data(){
        return{
            supplement_timing:[
                'Morning',
                'Evening',
                'Night',
            ],
            selected_supplement_timings:[],
            selected_supplements : [],
        }
    },
    watch:{
        // current_supplement_times(){
        //     console.log(this.current_supplement_times , 'Watcher')
        //     this.selected_supplement_timings = this.current_supplement_times
        // }
    },
    methods:{
        
        getSupplementsFromArray(array){
            let supplements = []
            array.forEach( supp => {
                supplements.push(supp.supplement)
            });
            console.log(supplements)
            return supplements[0];
        },
        showInConsole(val){
            console.log(val)
        },
        editSupplements(){
            this.selected_supplements = Object.assign( [] , this.current_supplements)
            this.selected_supplement_timings = this.current_supplement_times
            // this.selected_supplement_timings = Object.assign( [] , this.current_supplement_times)
            $('#day_supplements').modal('show');
        },
        handleSupplementTiming(value){


        let index = null;
        //console.log(value.length < this.selected_meals.length)
        if(value.length == 0){
            this.selected_supplements = [];
            this.selected_supplement_timings = []
        }
        else if(value.length > this.selected_supplements.length ){
            console.log('else if')

            let meal = {
                supplement_time:value[value.length-1],
                supplements: [] ,
            }

            this.selected_supplements.push(meal);
            this.selected_supplement_timings = value

        }else{

            let index = null;
            var i = 0;
            for( i = 0; i < this.selected_supplement_timings.length; i ++  ){
                   if(value[i] && this.selected_supplement_timings[i] != value[i] ){
                    this.selected_supplements.splice(i , 1);

                    break
                }if(!value[i] && this.selected_supplement_timings[i]) {
                    this.selected_supplements.splice(i , 1);
                    break
                }
            }
            this.selected_supplement_timings = value

        } 

        },
        handleSupplements(value , index ){

        let supplements = this.selected_supplements[index].supplements;

        if(value.length == 0){
            supplements = [];
        }

        else if(value.length > supplements.length ){
            let new_supplement = {
                supplement: value[value.length - 1],
                dose: "",
            }
            supplements.push(new_supplement);

        }else{

            let index = null;
            var i = 0;
            for( i = 0; i < supplements.length; i ++  ){
                if(value[i] && supplements[i].supplement != value[i] ){
                    supplements.splice(i , 1);
                    break

                }if(!value[i] && supplements[i]) {
                    supplements.splice(i , 1);
                    break

                }
            }
            // supplements = value

        }

            this.selected_supplements[index].supplements = supplements;

        },
        
        saveSupplements(){
        this.$Progress.start();
        let loader = this.$loading.show();

        axios.post('/api/save-supplements' , {
            client_id :  this.plan.client_id,
            package_id : this.plan.package_id,
            coach_id :  this.plan.coach_id,
            plan_id :  this.plan.id,
            day_number :  this.day_number,
            supplements : this.selected_supplements,

          }).then( res => {

            loader.hide();
            this.$Progress.finish();
            this.$emit('update-data');
            $('#day_supplements').modal('hide');
            this.$toastr.success('Data Updated Successfully' , 'Success');

          }).catch(err => {
              
              loader.hide();
            this.$Progress.finish();
            this.$emit('update-data');
            $('#day_supplements').modal('hide');
            this.$toastr.error('Request Failed', 'Failed');

          });
        },
    }

}
</script>

<style>

</style>