<template>
  <div class="position-relative">
    <hr>
    <h4>Measurements</h4>
    <hr>
    <div v-if="measurements" >
    
    <div class="row">
        <div class="col-2">
        Chest
        </div>
        
        <div class="col-2">
        {{measurements.chest}}
        </div>

        <div class="col-2">
        Waist
        </div>
        
        <div class="col-2">
        {{measurements.waist}}
        </div>
    </div>

    
    <div class="row">
        <div class="col-2">
        Hips
        </div>
        
        <div class="col-9">
        {{measurements.hips}}
        </div>
    </div>
    

    <div class="row">
        <div class="col-2">
        Left Bicep
        </div>
        
        <div class="col-2">
        {{measurements.left_bicep}}
        </div>
        
        <div class="col-2">
        Right Bicep
        </div>
        
        <div class="col-2">
        {{measurements.right_bicep}}
        </div>
    </div>
            


    <div class="row">
        <div class="col-2">
        Left Forearm
        </div>
        
        <div class="col-2">
        {{measurements.left_forearm}}
        </div>
        
        <div class="col-2">
        Right Forearm
        </div>
        
        <div class="col-2">
        {{measurements.right_forearm}}
        </div>
    </div>
            

    <div class="row">
        <div class="col-2">
        Left Calf
        </div>
        
        <div class="col-2">
        {{measurements.left_calf}}
        </div>
        
        <div class="col-2">
        Right Calf
        </div>
        
        <div class="col-2">
        {{measurements.right_calf}}
        </div>
    </div>
            
    <div class="row">
        <div class="col-2">
        Left Thigh
        </div>
        
        <div class="col-2">
        {{measurements.left_thigh}}
        </div>
        
        <div class="col-2">
        Right Thigh
        </div>
        
        <div class="col-2">
        {{measurements.right_thigh}}
        </div>
    </div>
            

        
    </div>
    <hr v-if="measurements">

    <div v-if="!measurements" class="alert alert-info" >
    <i class="fas fa-info-circle"></i> No Measurements 
    </div>





        </div>
</template>

<script>
export default {
 
    data(){
        return{
            all_measurements:''
        }
    },
    methods:{

    },
    props:['measurements'],
       created(){
    },
    watch:{
        // exrx_workout_ids(){
        //     this.getCurrentWorkouts();
        // }
    }

}
</script>

<style>

</style>