<template>
    <div class="col-12 col-sm-12 col-lg-12" style="padding:30px" >
        <h2>SHOW PLAN</h2>

        <ul v-if="total_weeks" class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                
                <!-- <template  v-for="week in total_weeks"> -->
                        <!-- {{showInConsole(week)}} -->
                 <!-- <li class="nav-item" style="width: 15%" :key="index"> 
                <a class="nav-link" :class="{active : index == 0}" :id="'week-tab-'+ index +'-tab'" data-toggle="pill" :href="'#week-tab-'+index" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Week {{index}} </a>
                </li> -->


                <!-- <a v-for="(day , sub_index) in week" :key="sub_index" class="nav-link" active data-toggle="pill" :href="'#day-tab-'+index+'-'+sub_index" role="tab" aria-selected="true" > -->
                    <!-- {{$day_prefix}} {{ $plan->start_status == 1 ? $day['day']. ',' : null }} {{$day['date']}} -->
                    <!-- </a> -->

                <!-- </template> -->
            </ul>
    </div>

</template>

<script>
export default {
    props: ['total_weeks'] ,
    data(){
        weeks:[]
    },
    methods:{
        showInConsole(val){
            console.log(val)
        }
    },
    created(){
        console.log('create')
        console.log(this.total_weeks)
        
    }
}
</script>